h1{
    color: red;
    text-decoration: underline wavy red; 
}
td{
    color: red;
}
p{
    text-align: center;
    color: red;
}
#b{
    text-align: center;
}
#c{
    text-align: center;
}
h2{
    text-align: center;
}
